<header class="contenedor">
  <div class="contenido-header">
    <h1>Bienvenido a <strong>Taller Resada</strong></h1>
    <p>Excelencia en mantenimiento y reparación automotriz. Servicio confiable, eficiente y profesional.</p>
  </div>
  <div class="logo-container">
    <img src="/imagenes/resdaaaaa.png" alt="Logo" class="logotipo">
  </div>
</header>
